baseline/chvrus_all_data/shard.*
baseline/chvrus_parent_model/params.*
baseline/chvrus_parent_model/vocab.*
baseline/subword-nmt
baseline/preprocessing/bpe/*
baseline/preprocessing/raw/*
baseline/preprocessing/tokenized/*
baseline/preprocessing/vocab/*

backtranslation/chvrus_all_data/shard.*
backtranslation/chvrus_parent_model/params.*
backtranslation/chvrus_parent_model/vocab.*
backtranslation/chvrus_parent_model/training_state/*
backtranslation/subword-nmt
backtranslation/preprocessing/bpe/*
backtranslation/preprocessing/raw/*
backtranslation/preprocessing/tokenized/*
backtranslation/preprocessing/vocab/*


data/chv-rus/*
data/kaz-rus/*

transfer_learning/preprocessing/bpe/chv-rus/*
transfer_learning/preprocessing/bpe/kaz-rus/*
transfer_learning/preprocessing/bpe/kazchv.all.train.bpe
transfer_learning/preprocessing/bpe/rus.all.train.bpe
transfer_learning/preprocessing/vocab/*
transfer_learning/preprocessing/raw/chv-rus/*
transfer_learning/preprocessing/raw/kaz-rus/*
transfer_learning/preprocessing/tokenized/chv-rus/*
transfer_learning/preprocessing/tokenized/kaz-rus/*
transfer_learning/preprocessing/tokenized/kazchv.all.train.tok
transfer_learning/preprocessing/tokenized/rus.all.train.tok
transfer_learning/subword-nmt
transfer_learning/chvrus_child_data/shard.*
transfer_learning/chvrus_child_data/vocab.*
transfer_learning/kazrus_all_data/shard.*
transfer_learning/kazrus_all_data/vocab.*
transfer_learning/kazrus_parent_data/shard.*
transfer_learning/kazrus_parent_data/vocab.*
transfer_learning/chvrus_child_model/params.*
transfer_learning/chvrus_child_model/vocab.*
transfer_learning/kazrus_parent_model/params.*
transfer_learning/kazrus_parent_model/vocab.*


